{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<!-- Menu-->

<!-- Tendencias 8 e-->
<div class="">
    
</div>
<!-- Siguiendo-->
<div class="">
    
</div>
<!-- Novedades 8 e-->
<div class="">
    
</div>
<!-- Aside-->
<div class="">
    
</div>
<!-- Footer-->
<div class="">
    
</div>
{% endblock %}
