<div class="container">
<div class="row">
{% for manga in mangas %}
<div class="col">
    <a class="element" href="{{ path('manga_biblioteca', { titulo: manga.id})}}">
    <div class="element"  style=" background-image: url(' {{ asset( manga.portada )}} '); ">
      <h3 class="element">{{ manga.titulo }}</h3>
  
    </div>
  </a>

</div>
{% endfor %}
</div>
<div>