{% for manga in mangas %}
<div >
    <a class="element" href="{{ path('manga_biblioteca', { titulo: manga.id})}}">
    <div class="element"  style=" background-image: url(' {{ asset( manga.portada )}} '); ">
      <h3>{{ manga.titulo }}</h3>
      <span class="bottomElement">{{ manga.tipo }}</span>
    </div>
  </a>

</div>
{% endfor %}