.topbar{
    background-color: black;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
a.title:link, a.title:visited,a.title:active{
    text-decoration-line: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.body{
    padding: 50px 100px 0px 100px;
}

a.element{
    text-decoration-line: none;
    color: black;
}
div.element{
    width: 250px;
    height: 350px;
    border: 1px solid black;
}
h3.element{
    top: 0%;
    color: white;
}
span.element{
    top: 90%;
    color: white;
}

.darkMode{
    background-color: darkgrey;
    color: white;
}

.bottomElement{
    position: absolute;
    bottom: 1%;
}
.mangaInfo{
    display: flex;
}
.info{
    margin-left: 10%;
}

.puntuacion{
    display: flex;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;
    
    /*-moz-user-select:none;
    -webkit-user-select:none;*/
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  /* Idle State of the stars */
  .rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }
  
  /* Hover state of the stars */
  .rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
  }
  
  /* Selected state of the stars */
  .rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
  }

.capituloElement{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}

.capituloMenu{
    background-color: gray;
    display: flex;
    border: 1px solid black;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.first{
    margin-left: 2%;
}
.last{
    margin-right: 2%;
}
.icons{
    color: #000; 
}
h5.capituloMenu{
    font-size: 19px;
}
ul.menuC {
    float:left;
    display:block;
    list-style-type:none;
    }
    .menuC li {
    line-height:18px;
    font-size:19px;
    position:relative;
    float:left;
    }
    .menuC li a {
            
    color: #000;
    padding: 5px 20px;
    text-decoration:none;
    }
    .menuC li a:hover {
    background: black;
    color: white;
    }
    .menuC li ul {
    display:none;
    position:absolute;
    width: 240px;
    background-color: #f4f4f4;
    padding:0;
    list-style-type:none;
    }
    .menuC li ul li {
    width: 200px;
    border: 1px solid black;
    border-top:none;
    padding: 10px 20px;
    }
    .menuC li ul li:first-child {
    border-top: 1px solid black;
    }
   .menuC li ul li a {
    width: 240px;
    margin: 0;
    padding:0;
    }
   .menuC li ul li a:hover {
    width: 240px;
    margin: 0;
    color: black;
    background:none;
    }
    