<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Biblioteca-Visor  MangaShadow de Mangas, Manhuas y Manhwas online en español, con las últimas novedades y obras más populares.">
        <meta http-equiv="Content-Language" content="es"/>
        <meta name="distribution" content="global"/>
        <meta name="Keywords" content="biblioteca,visor,manga,manhua,manhwa,español"/>
        <title>{% block title %}Manga Shadow{% endblock %}</title>
        <link rel="icon" href="/public/img/logo.png">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/public/css/resetstyle.css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="/public/css/menu.css">
            <link rel="stylesheet" href="/public/css/style.css">
            <link rel="stylesheet" href="/public/css/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="/public/JS/slick-master/slick/slick.css">
            <link rel="stylesheet" href="/public/JS/slick-master/slick/slick-theme.css">
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
            {# https://github.com/carhartl/jquery-cookie #}
            <script src="/public/JS/jquery-cookie-master/src/jquery.cookie.js"></script
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <script src="/public/JS/menu.js"></script>
        {% endblock %}
    </head>
    <body>
        {{ include ('partials/menu.html.twig')}}
        <menu class="topbar">
            <h2><a class="title" href="{{ '/public/' }}"><img src="/public/img/mangaShadowLogoIco.png" alt="Manga Shadow Logo"> MangaShadow</a></h2>
        </menu>
        <div class="body">
        {% block body %}
        {% endblock %}
        
        </div>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
             <div class="container text-center">
                <small>Copyright &copy;<a href="{{ '/about' }}"> Manga Shadow</a></small>
                
        </footer>    
    </body>
</html>
