{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}

<div>
    {% if user.imagenPerfil|default %}
        <img src="{{user.imagenPerfil}}">
    {% else %}
        <img src="/img/shadowUser.png">
    {% endif %}
    <div>
        <h1>{{ user.nombre }}</h1>
        <h2>{{ user.email }}</h2>
        <h3>{{ user.paginaWeb }} </h3>
    </div>
</div>
<!-- Listas -->
<!--
<div>
    <h2>Listas</h2>
</div> -->
<!-- Favoritos -->
<!-- <div>
    <h2>Favoritos</h2>
</div> -->
{% endblock %}
