{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}
<img src="">
<h1></h1>
<h2></h2>
<h3></h3>
<!-- Listas -->
<div>
    <h2>Listas</h2>
</div>
<!-- Favoritos -->
<div>
    <h2>Favoritos</h2>
</div>
{% endblock %}
