{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}

<div class="perfil">
    {% if user.imagenPerfil|default %}
        <img  class="imgPerfil" src="{{user.imagenPerfil}}">
    {% else %}
        <img class="imgPerfil" src="/img/mangaShadowLogo.png">
    {% endif %}
    <div>
        <h1>{{ user.nombre }}</h1>
        Email: <h2>{{ user.email }}</h2>
        Sitio web: <h3>{{ user.paginaWeb }} </h3>
    </div>
</div>
<!-- Listas -->

<div>
    <h2>Listas</h2>
    <p class="mensajeSiguiendo">
                    Estamos trabajando en la construcci贸n de esta secci贸n.
                </p>
</div> 
<!-- Favoritos -->
<div>
    <h2>Favoritos</h2>
    <p class="mensajeSiguiendo">
                    Estamos trabajando en la construcci贸n de esta secci贸n.
                </p>
</div> 
{% endblock %}
